---
---

@import 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

#sidebar {
  --site-title-color: #e8e6e3;
  --site-subtitle-color: #a8a095;
  --sidebar-bg: #1c3a4f;
  --sidebar-border-color: #1f2123;
  --sidebar-muted-color: #a8a095;
  --sidebar-active-color: rgba(232, 230, 227, 0.95);
  --sidebar-hover-bg: #1d1f20;
  --sidebar-btn-bg: #1c1f20;
  --sidebar-btn-color: #5a6266;
  --sidebar-btn-color: #9c9487;
  --avatar-border-color: rgba(52, 56, 58, 0.9);
}