{% assign qs = "center=" | append: include.center | uri_escape %}

{% if include.zoom %}
{% assign qs = qs | append: "&zoom=" | append: include.zoom %}
{% endif %}

{% if include.caption %}
{% assign qs = qs
| append: "&caption="
| append: include.caption
| default: "Caption"
| uri_escape %}
{% endif %}

{% if include.aspect %}
{% assign qs = qs | append: "&aspect=" | append: include.aspect | uri_escape %}
{% endif %}

{% if include.markers %}
{% assign markers_clean = include.markers
| strip_newlines
| strip
| replace: " ", "" %}
{% assign qs = qs | append: "&markers=" | append: markers_clean | uri_escape %}
{% endif %}

{% if include.geojson %}
  {%- assign geojson_items = include.geojson | split: '|' -%}
  {%- assign geojson_out = "" | split: "," -%}

  {%- for raw_item in geojson_items -%}
    {%- assign raw_item = raw_item | strip -%}
    {%- if raw_item == "" -%}{%- continue -%}{%- endif -%}

    {%- assign parts = raw_item | split: '~' -%}
    {%- assign frag = parts[0] | strip -%}
    {%- assign layer = "" -%}
    {%- if parts.size > 1 -%}
      {%- assign layer = parts[1] | strip -%}
    {%- endif -%}

    {%- capture full_url -%}{%- include media-url.html src=frag subpath=page.media_subpath -%}{%- endcapture -%}
    {%- assign full_url = full_url | strip -%}

    {%- if full_url != "" -%}
      {%- if layer != "" -%}
        {%- assign out_item = full_url | append: "~" | append: layer -%}
      {%- else -%}
        {%- assign out_item = full_url -%}
      {%- endif -%}

      {%- assign geojson_out = geojson_out | push: out_item -%}
    {%- endif -%}
  {%- endfor -%}

  {%- assign geojson_param = geojson_out | join: "|" | uri_escape -%}
  {%- assign qs = qs | append: "&geojson=" | append: geojson_param -%}
{% endif %}

{%- comment -%} Convert src → full URL {%- endcomment -%}
{%- capture src_final -%}
{%- include media-url.html src=include.src width=include.width subpath=page.media_subpath -%}
{%- endcapture -%}
{%- assign src_final = src_final | strip -%}


{% if include.allmaps %}
{% assign allmaps_clean = include.allmaps
| strip_newlines
| strip
| replace: " ", "" %}
{% assign qs = qs | append: "&allmaps=" | append: allmaps_clean | uri_escape %}
{% endif %}

{% if include.basemap %}
{% assign qs = qs | append: "&basemap=" | append: include.basemap | uri_escape %}
{% endif %}

{%- assign class = "embed-map" -%}
{%- if include.class -%}
{%- assign class = class | append: " " | append: include.class -%}
{%- endif -%}

<iframe id="{{ include.id }}" class="{{ class }}" loading="lazy" title="StoryKit map viewer" allow="clipboard-write"
  style="aspect-ratio: {{ include.aspect | default: '1.0' }};"
  src="{{ '/assets/components/map.html' | relative_url }}?{{ qs }}" allowfullscreen>
</iframe>