{%- comment -%} Build query string {%- endcomment -%}
{%- assign qs = "vid=" | append: include.vid -%}

{%- if include.caption -%}
{%- assign qs = qs | append: "&caption=" | append: include.caption | uri_escape -%}
{%- endif -%}

{%- if include.autoplay -%}
{%- assign qs = qs | append: "&autoplay=" | append: include.autoplay | uri_escape -%}
{%- endif -%}

{%- if include.start -%}
{%- assign qs = qs | append: "&start=" | append: include.start | uri_escape -%}
{%- endif -%}

{%- if include.end -%}
{%- assign qs = qs | append: "&end=" | append: include.end | uri_escape -%}
{%- endif -%}

{%- assign class = "embed-youtube" -%}
{%- if include.class -%}
{%- assign class = class | append: " " | append: include.class -%}
{%- endif -%}

<iframe id="{{ include.id }}" class="{{ class }}" loading="lazy" title="YouTube viewer" allow="clipboard-write" allowfullscreen
  {% if include.aspect %} style="aspect-ratio: {{ include.aspect }};" {% endif %}
  src="{{ '/assets/components/youtube.html' | relative_url }}?{{ qs }}" >
</iframe>